<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="hand.zjf.dao.FilmOperationDao">
	<insert id="insertOneFilm" parameterType="Film">
		insert into film(title,description,language_id,last_update)
		values(#{title},#{description},#{languageId},#{lastUpdate});
	</insert>
</mapper>